$background-gradient-start: #68BBE3;
$background-gradient-end: #003060;
$background-silhouette: '../../assets/images/silhouette.jpg';
$delete-btn-color: #e50000;
$header-color: #003060;
$button-color: #055C9D;
$table-header-bg-color: #003060;
$logout-button-bg-color: #427993;

.table-container {
    background: linear-gradient(to right, rgba($background-gradient-start, 0.5), rgba($background-gradient-end, 0.5)), url($background-silhouette) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    overflow-y: auto;

    .table-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $table-header-bg-color;
        padding: 0 20px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }

    .logout-button {
        background-color: $logout-button-bg-color;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: darken($logout-button-bg-color, 10%);
        }
    }

    h1 {
        color: white;
        text-align: center;
        margin-bottom: 2rem;
    }

    .table-inner-container {
        padding: 20px;
        display: flex;
        align-items: center;
        overflow-x: auto;

        .table-top-actions {

            .search-input {
                height: 20px;
                min-width: 200px;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 4px;
                margin-right: 10px;
            }

            .add-button {
                background: $button-color;
                color: white;
                border: none;
                margin-top: 40px;
                padding: 10px;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s;

                &:hover {
                    background: #4b5cde;
                }
            }
        }

        .data-table {
            width: auto;
            max-width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            border-radius: 8px;

            thead {
                background-color: $header-color;

                th {
                    color: white;
                    padding: 15px;
                    text-align: left;
                    font-size: 16px;
                }
            }

            tbody {
                tr {
                    background-color: white;

                    &:nth-child(even) {
                        background-color: #f2f2f2;
                    }

                    &:hover {
                        background-color: #68BBE3;
                    }

                    td {
                        padding: 15px;
                        border-bottom: 1px solid #ddd;
                        text-align: left;
                    }
                }
            }

            .edit-button,
            .delete-button {
                padding: 8px 12px;
                margin-right: 10px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                font-size: 14px;
                transition: background-color 0.3s;

                &:hover {
                    opacity: 0.8;
                }
            }

            .edit-button {
                background-color: $button-color;
                color: white;
            }

            .delete-button {
                background-color: $delete-btn-color;
                color: white;
            }
        }
    }
}

@media (max-width: 768px) {
    .table-container {
        h1 {
            font-size: large;
            margin-bottom: 1rem;
        }
    }
}